# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 100
b = 100

print(a == b)
print(a is b)

True
True

Посилатимуться на один і той самий об'єкт бо в Пайтоні всі числа з -5 до 256 створені на початку

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
s = "Hello"
i = 13

print(isinstance(s, str))
print(isinstance(i, int))
print(isinstance(i, float))

True
True
False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
i = 20
f = 10.0

print(f"Two numbers: integer {i}, float {f}\n")

print(f"+ {i + f}")
print(f"- {i - f}")
print(f"/ {i / f}")
print(f"* {i * f}")
print(f"% {i % f}")
print(f"// {i // f}")
print(f"** {i**f}")

Two numbers: integer 20, float 10.0

+ 30.0
- 10.0
/ 2.0
* 200.0
% 0.0
// 2.0
** 10240000000000.0

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
i = 20

print(isinstance(i, float))

f = float(i)
print(isinstance(f, float))

print(int(True))

s is nothing
s2 is nothing

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
s = ""
array = [""]

s2 = "".join(array)

if (s == ""):
    print("s is nothing")

if (s2 == ""):
    print ("s2 is nothing")

s is nothing
s2 is nothing

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
s = "That is an \"Апостроф\"\t->\t\" ' \""

print("Fully cooked s: " + s)
print("Raw s: \t\t" + rf"{s}")

Fully cooked s: That is an "Апостроф"	->	" ' "
Raw s: 		That is an "Апостроф"	->	" ' "

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
s = "\"Alt + F4\"" #Trust me bro, that is my real surname

print(f"My surname is {s}")

My surname is "Alt + F4"

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
s = "My dog is crazy."

print(s[:-1].lower().split(" "))

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
l1 = [1, 2]
l2 = list((1, 2))

print(len(l1))

2

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
l1 = [1, 2]
l2 = list((3, 4))

l1.append(l2)

print(l1)

[1, 2, [3, 4]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
l1 = [[1, 2], [3, 4]]

print(l1[len(l1) - 1][0])

3

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
l1 = [None, True, 2.0, "Number 3", 4, "e", [6, 6], (7, 7), {8, "8"}, {"number": 9, "order": 9}]
l2 = l1[2:8]

print(l2)

[2.0, 'Number 3', 4, 'e', [6, 6], (7, 7)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
l1 = (1,)

print (l1)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

В Пайтоні спосок можна змінювати, додавати та видаляти елементи, а кортеж ні

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
l1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
l2 = l1[::-2]

print(l2)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
s = set()

s.add(1)
s.add(2)
s.add(3)

print(s)

{1, 2, 3}

Так

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
s = set(my_list)

print(s)

{1, 2, 67, 8, 9}

Бо в множині елементи не можуть повторюватись

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
s1 = set(my_list)

my_list2 = ["1", "1", "2", "67", "67", "8", "9"]
s2 = set(my_list2)

s3 = s1.union(s2)
print(f"Add {s3}")

s3 = s1.difference(s2)
print(f"Difference {s3}")

s3 = s1.intersection(s2)
print(f"Intersection {s3}")

s3 = s1.symmetric_difference(s2)
print(f"Sym dif {s3}")

print(s1)
print(s2)

Add {1, 2, 67, 8, 9, '1', '67', '8', '2', '9'}
Difference {1, 2, 67, 8, 9}
Intersection set()
Sym dif {1, 2, 67, 8, 9, '67', '2', '9', '1', '8'}
{1, 2, 67, 8, 9}
{'1', '67', '8', '2', '9'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
dic = {}
dic[True] = "Int"
dic[1] = "Float"
dic["a"] = "Char"
dic[None] = "None"
# dic[[1, 1]] = "Set"

print(dic)

No. Couse I tested and it didn't work.


Couse list can change and keys need to be constants

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
dic = {}
dic[True] = "Int"
dic[1] = "Float"
dic["a"] = "Char"
dic[None] = "None"
# dic[[1, 1]] = "Set"

dic["Key"] = {"Key2": {"Key3": None}}
print(dic["Key"]["Key2"]["Key3"])

None

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.

Дякую!!!
Репозиторій: https://github.com/SquidBow/PythonBigData